{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "app": "./app"
        }
      }
    ],
    "source-map-support",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-syntax-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings"
  ]
}
